@model QuanLyDeTai.Models.GiangVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GiangVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenGiangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loaiGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiGiangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maGiangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.account_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
