@model IEnumerable<QuanLyDeTai.Models.GiangVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenGiangVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaiGiangVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maGiangVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenGiangVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loaiGiangVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maGiangVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.account_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.account_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.account_ID })
        </td>
    </tr>
}

</table>
