@model IEnumerable<QuanLyDeTai.Models.Nhom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maNhomTruong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuongSv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeTai.tenDeTai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maNhomTruong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongSv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeTai.tenDeTai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maNhom }) |
            @Html.ActionLink("Details", "Details", new { id=item.maNhom }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maNhom })
        </td>
    </tr>
}

</table>
