@model QuanLyDeTai.Models.ChuyenNganh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChuyenNganh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenChuyenNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenChuyenNganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiangVien.tenGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiangVien.tenGiangVien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maChuyenNganh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
